*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* #headerIndex {
    z-index: 100;
    position: absolute;
} */
#index_section1 {
    width: 100%;
    height: 100vh;
    /* padding-bottom: 48.272727272%; */
    display: flex;
    background-color: #494949;
    overflow: hidden;
    position: relative;
    .idxSec1_img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .background {
        background-image: url("./Assets/Img/Sky.webp");
    }
    .cloud1 {
        background-image: url("./Assets/Img/Cloud1.webp")
    }
    .cloud2 {
        background-image: url("./Assets/Img/Cloud2.webp")
    }
    .bush1 {
        background-image: url("./Assets/Img/S1.webp")
    }
    .bush2 {
        background-image: url("./Assets/Img/S2.webp")
    }
    .bush3 {
        background-image: url("./Assets/Img/S3.webp")
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 50%;
            padding-bottom: 10%;
        }
    }
    .pumpkin {
        background-image: url("./Assets/Img/Pumpkin.webp")
    }
    .ground {
        background-image: url("./Assets/Img/ground.webp")
    }
}
#index_section2 {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #141414;
    .idxSec2_separator {
        z-index: 1;
        width: 100%;
        height: 350px;
        position: absolute;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("./Assets/Img/BottomBush.webp")
    }
    .idxSec2_videoContainer {
        z-index: 2;
        width: 900px;
        height: 510px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    .idxSec2_descriptionContainer {
        width: 900px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 100px 0;
        gap: 100px;
        p {
            text-align: center;
            color: white;
            font-size: 1.5rem;
            text-wrap: pretty;
        }
        .idxSec2_imgContainer {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .iconPumpkin{
                width: 30%;
            }
            a {
                width: 50%;
                .itchio{
                    width: 100%;
                }
            } 
        }
    }
}
#index_section3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #141414;
    .idxSec3_galeryContainer {
        width: 900px;
        height: auto;
        position: relative;
        columns: 2 320px;
        .idxSec3_imgContainer {
            max-width: 100%;
            margin-bottom: 16px;
            overflow: hidden;
            img {
                width: 100%;
                transform: scale(1.02);
                transition: ease-in .1s;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.12);
                }
            }
        }
    }
}

#index_section4 {
    width: 100%;
    height: auto;
    justify-content: center;
    overflow: hidden;
    background-color: #141414;
    .idxSec4_additionalText {
        display: block;
        width: 900px;
        margin: 100px auto;
        text-align: center;
        font-size: 1.5rem;
        text-wrap: pretty;
        color: white;
    }
    .idxSec4_referentsContainer {
        width: 900px;
        display: flex;
        gap: 100px;
        justify-content: center;
        align-items: center;
        margin: 100px auto 20px;
        .idxSec4_linksContainer {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                gap: 10px;
                p {
                    font-size: 1.5rem;
                    color: white;
                }
                a {
                    font-size: 1.5rem;
                    color: orange;
                }
            }
        }
        .idxSec4_imgContainer {
            width: 200px;
            height: 200px;
            img {
                width: 100%;
            }
        }
    }
    .idxSec4_mailContainer {
        width: 900px;
        display: flex;
        justify-content: center;
        margin: 0px auto 100px;
        a {
            font-size: 1.5rem;
            color: orange;
        }
    }
}

@media (width <= 920px) {
    #index_section2 {
        .idxSec2_videoContainer {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            padding-top: 30px;
            position: relative;
            overflow: hidden;
            iframe, object, embed {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
        .idxSec2_descriptionContainer {
            width: 100%;
            padding: 100px 5%;
        }
    }
    #index_section3 {
        .idxSec3_galeryContainer {
            width: 100%;
            padding: 0 5%;
            
        }
    }
    #index_section4 {
        .idxSec4_additionalText {
            width: 100%;
            padding: 0 5%;
        }
        .idxSec4_referentsContainer {
            width: 100%;
            flex-direction: column-reverse;
            gap: 10px;
            padding: 0 5%;
            .idxSec4_imgContainer {
                width: 150px;
                height: 150px;
                img {
                    width: 100%;
                }
            }
        }
        .idxSec4_mailContainer {
            width: 100%;
            padding: 0 5%;
        }
    }

}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #141414;
    display: none;
    justify-content: center;
    align-items: center;
}
/* Estilos para la imagen en pantalla completa */
#overlay img {
    max-width: 90%;
    max-height: 90%;
}
/* Estilos para el botón de cerrar */
#closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 4rem;
}